.navigator {
	position: absolute;	
}
.header {
	text-align: center;
}
.content {
	margin-bottom: 200px;
}
.affix-top {
	top: 210px;
}
.affix {
	top: 100px;
}
.affix-bottom {

}
.radio {
	display: inline-block;
	margin-right: 10px;
}
.right-top {
	position: absolute;
	right: 0;
}
textarea {
	width: 100%;
}
.click-enter:hover {
	cursor: pointer;
}