.navigator {
	position: absolute;	
	margin-left: -15px;	
}
.header img {
	float: left;
	margin-right: 10px;
}
.header h1 {
	margin: 0;
	font-size: 32px;
	font-family: "隶书", sans-serif;
}
.content {
	margin-bottom: 200px;
}
.affix-top {
	top: 210px;
}
.affix {
	top: 100px;
}
.affix-bottom {

}
.radio {
	display: inline-block;
	margin-right: 10px;
}
.right-top {
	position: absolute;
	right: 0;
}
textarea {
	width: 100%;
}
.click-enter:hover tr {
	cursor: pointer;
}
.filter-form {
	margin-bottom: 50px;
}
.filter-form .row {
	margin-bottom: 10px;
}
.commit-container {
	margin-bottom: 10px;
}